.App {
  text-align: center;
  padding: 20px;
}
.container-grafico {
  width: 60vw;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}